.breadcrumb-container {
  padding: 7.8rem 5% 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb-text {
  color: #7d7d7d;
  font-size: 0.9rem;
}
.breadcrumb-active {
  color: #000;
}
.welcome-text {
  font-size: 0.9rem;
}
