.product-table-header {
  display: grid;
  grid-template-columns: 40px 2.8fr 1.5fr 1fr 0.8fr 1fr;
  padding: 10px 25px;
  color: black;
  font-size: 0.85rem;
  font-weight: 400;
  background: #fff;
  border-radius: 8px 8px 0 0;
  margin-bottom: 2px;
  border-bottom: 1px solid #f8f8f8;
}