<div class="user-actions">
  <div class="user-icon-container" (click)="toggleDropdown()">
    <i class="far fa-user fa-lg"></i>
    <div class="dropdown-custom" [class.show]="isDropdownOpen">
      <a class="sub-item" (click)="accountClick.emit()">Edit profile</a>
      <a class="sub-item" (click)="addressClick.emit()">Edit address</a>
      <a class="sub-item" routerLink="/orders" (click)="isDropdownOpen = false">
        <i class="fas fa-box me-2"></i>Meus Pedidos
      </a>
      <a class="logout-item" (click)="logout()"> <i class="fas fa-sign-out-alt me-2"></i>Logout </a>
    </div>
  </div>
</div>
