<form>
    <app-form-input
        [type]="'text'"
        [placeholder]="'Name'"
        [icon]="'far fa-user'"> 
    </app-form-input>
    <app-form-input
        [type]="'email'"
        [placeholder]="'Email'"
        [icon]="'far fa-envelope'"> 
    </app-form-input>
    <app-form-input
        [type]="'text'"
        [placeholder]="'Cpf'"
        [icon]="'far fa-user'"> 
    </app-form-input>
    <app-form-input
        [type]="'tel'"
        [placeholder]="'Telefone'"
        [icon]="'fas fa-phone-alt'"> 
    </app-form-input>
    <app-form-input
        [type]="'password'"
        [placeholder]="'Password'"
        [icon]="'fas fa-lock'"> 
    </app-form-input>
</form>
