<div class="sidebar">
  <div class="logo-container">
    <div class="brand-logo">
      <span class="shop"><img src="assets/images/logo.svg" alt="" /></span>
    </div>
  </div>
  <nav class="nav flex-column">
    <a href="admin/product" class="nav-link active"> <i class="fas fa-cubes"></i> <span>Products</span> </a>
    <a href="#" class="nav-link"> <i class="fas fa-archive"></i> <span>Inventory</span> </a>
    <a href="#" class="nav-link"> <i class="fas fa-shopping-basket"></i> <span>Orders</span> </a>
    <a href="#" class="nav-link"> <i class="fas fa-cog"></i> <span>Settings</span> </a>
    <a href="#" class="nav-link"> <i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
  </nav>
</div>
