.actions-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.btn-cancel {
  background: none;
  border: none;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.btn-save {
  background-color: #d63384;
  color: white;
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 4px;
  font-weight: 500;
}
