.main-container {
  margin-left: 240px;
  padding: 0 40px 40px 40px;
  background-color: #f2f3f8;
}

.breadcrumb-container {
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-active {
  color: #000;
}



